///*http://angushop.danurstrap.com/#/shop/product1*/
//
//.example-h2 {
//  margin: 10px;
//}
//
//.example-section {
//  display: flex;
//  align-content: center;
//  align-items: center;
//  height: 60px;
//}
//
//.example-margin {
//  margin: 10px;
//}
//
//.product-container{
//  width: 80%;
//  margin: auto;
//}
//
//.title{
//  font-size: 1.5em;
//}
//
//.product-image{
//  width: 400px;
//  display: block;
//  margin: 0 auto;
//}
//
.card-product-image {
  max-width: 250px;
  max-height: 300px;
  margin: auto;
}

.card-image {
  height: 300px;
  margin: auto;
  width: auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  min-width: 300px;
}

.btn.long{
  display: block;
}
