.card-product-image {
  max-width: 250px;
  max-height: 300px;
  margin: auto;
}

.card-image {
  height: 300px;
  margin: auto;
  width: auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  min-width: 300px;
}

.btn.long {
  display: block;
}
